<div class="ng6-go-chat-panel">
    <div class="ng6-go-chat-panel-title" i18n="@@ng6GoChatPanelTitle">Chat</div>
    <div #ng6GoChatPanelMessages class="ng6-go-chat-panel-messages" [scrollTop]="ng6GoChatPanelMessages.scrollHeight">
        <div class="ng6-go-chip-message" *ngFor="let message of messages; let i = index">
            <div *ngIf="displayDate(messages[i-1], message)" class="ng6-go-chip-message-date">
                {{message.date|date:'dd MMMM yyyy, HH:mm'}}
            </div>
            <div *ngIf="message.sender !== sender && (undefined === messages[i-1] || (undefined !== messages[i-1] && message.sender !== messages[i-1].sender))" class="ng6-go-chip-message-sender">
                {{message.sender}}
            </div>
            <div [ngClass]="message.sender === sender ? 'ng6-go-chip-message-me' : 'ng6-go-chip-message-other'">
                <mdc-chip [primary]="message.sender === sender">
                    <mdc-chip-text>{{message.content}}</mdc-chip-text>
                </mdc-chip>
            </div>
        </div>
    </div>
    <div class="ng6-go-chat-panel-actions">
        <mdc-text-field [(ngModel)]="message.content" label="Message" dense=true fullwidth
                        (keyup)="$event.keyCode == 13 && sendMessage()">
            <mdc-icon trailing clickable (click)="sendMessage()">send</mdc-icon>
        </mdc-text-field>
    </div>
</div>
