.mat-snack-bar-handset {
    .mat-snack-bar-container {
        &.mat-snack-bar-center{
            margin-bottom: 0 !important;
        }
        border-radius: 0 !important;
    }
}

.mat-snack-bar-container {
    border-radius: 25px !important;

    &.mat-snack-bar-center{
        margin-bottom: 1rem !important;
    }

    &.error, &.success, &.warning, .mat-button{
        color: white;
    }

    &.error {
        background-color: map_get($mat-red, 900);
    }

    &.warning {
        background-color: map_get($mat-amber, 900);
    }

    &.success {
        background-color: map_get($mat-green, 900);
    }
}
