<div class="ng6-go-panel-overview">
    <div class="ng6-go-panel-overview-title" i18n="@@ng6GoOverviewTitle">{{ game.active ? 'Turn '+(game.steps+1) : '-'}}</div>
    <div class="ng6-go-panel-overview-subtitle" i18n="@@ng6GoOverviewSubtitle">{{ game.active ? 'Game in progress' : 'Pending game'}}</div>
    <div class="ng6-go-panel-overview-content">
        <div class="mat-list-players-title" i18n="@@ng6GoOverviewListTitle">Players :</div>
        <mat-list class="mat-list-players">
            <mat-list-item *ngFor="let player of game.players">
                <span class="mat-list-players-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" *ngIf="player.name === game.black">
                        <circle class="black" cx="10" cy="10" r="8" fill="url(#black)"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" *ngIf="player.name === game.white">
                        <circle class="white" cx="10" cy="10" r="8" fill="url(#white)"/>
                    </svg>
                </span>
                <span class="mat-list-players-item-name">{{player.name}}</span>
                <span class="mat-list-players-item-status" *ngIf="player.ready" i18n="@@ng6GoOverviewPlayerStatus">Ready</span>
            </mat-list-item>
        </mat-list>

    </div>
</div>
