<div class="ng6-go-panel-overview">
    <ng-template [ngIf]="game.active" [ngIfElse]="gameInactive">
        <div class="ng6-go-panel-overview-title" i18n="@@ng6GoOverviewTitle">Turn {{game.steps+1}}</div>
        <div class="ng6-go-panel-overview-subtitle" i18n="@@ng6GoOverviewSubtitleGameActive">Game in progress</div>
    </ng-template>
    <ng-template #gameInactive>
        <ng-template [ngIf]="!game.active && (game.finishedAt === undefined || game.finishedAt === null)" [ngIfElse]="gameFinished">
            <div class="ng6-go-panel-overview-title">-</div>
            <div class="ng6-go-panel-overview-subtitle" i18n="@@ng6GoOverviewSubtitleGameInactive">Pending game</div>
        </ng-template>
        <ng-template #gameFinished>
            <div class="ng6-go-panel-overview-title">-</div>
            <div class="ng6-go-panel-overview-subtitle" i18n="@@ng6GoOverviewSubtitleGameFinished">Game finished</div>
        </ng-template>
    </ng-template>
    <div class="ng6-go-panel-overview-content">
        <div class="mat-list-players-title" i18n="@@ng6GoOverviewListTitle">Players :</div>
        <mat-list class="mat-list-players">
            <mat-list-item *ngFor="let player of game.players">
                <span class="mat-list-players-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" *ngIf="player.self.uuid === game.black">
                        <circle class="black" cx="10" cy="10" r="8" fill="url(#black)"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" *ngIf="player.self.uuid === game.white">
                        <circle class="white" cx="10" cy="10" r="8" fill="url(#white)"/>
                    </svg>
                </span>
                <span class="mat-list-players-item-name">{{player.self.name}}</span>
                <span class="mat-list-players-item-status" *ngIf="player.ready"
                      i18n="@@ng6GoOverviewPlayerStatus">Ready</span>
            </mat-list-item>
        </mat-list>

    </div>
</div>
