<mat-card class="ng6-go-card-games">
    <mat-card-title>
        <span i18n="@@ng6GoGamesTitle">Pending games</span>
        <span>
            <!--<button (click)="customGame()" mdc-button [unelevated]="true" class="big-round-corner-button" i18n="@@ng6GoGamesCustomGameButton">Custom game</button>-->
            <button (click)="newGame()" mdc-button [unelevated]="true" class="big-round-corner-button" i18n-title="@@ng6GoGamesNewGameButtonTitle" title="New game" i18n="@@ng6GoGamesNewGameButton">New game</button>
        </span>
    </mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item class="mat-list-item-game" *ngFor="let game of gamesList|async">
                <span fxFlex="50" class="mat-list-item-name">game {{game.id}}</span>
                <span fxFlex="25" class="mat-list-item-details"></span>
                <!--<span fxFlex="25" class="mat-list-item-details">dimension : {{game.dimension}}</span>-->
                <span fxFlex="25" class="mat-list-item-actions">
                    <button (click)="joinGame(game.id)" mdc-button [unelevated]="true" class="big-round-corner-button" i18n="@@ng6GoGamesJoinButton">Join</button>
                </span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
