ng6-go-board {
    @extend %display-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @extend %noselect;
    padding: 0 1rem;

    .ng6-go-board-svg {
        max-height: calc(100% - 9rem);
    }

    .ng6-go-board-svg, .ng6-go-board-panel-actions {
        margin-bottom: 1rem;
    }

    .ng6-go-board-panel-actions {
        @extend %display-flex;
        height: 3rem;
        flex-direction: row;
        justify-content: center;
    }

    .mdc-fab:disabled {
        background-color: grey !important;
        cursor: initial;
    }

    .empty-black:hover {
        fill: url(#black);
        fill-opacity: 0.3;
    }

    .empty-white:hover {
        fill: url(#white);
        fill-opacity: 0.3;
    }

    .text-coordinate {
        font: 200px Verdana, Helvetica, Arial, sans-serif;
    }

    .text-sequence-black {
        font: 200px Verdana, Helvetica, Arial, sans-serif;
        fill: #ffffff
    }

    .text-sequence-white {
        font: 200px Verdana, Helvetica, Arial, sans-serif;
        fill: #000000
    }

    .text-sequence-last {
        font: 200px Verdana, Helvetica, Arial, sans-serif;
        fill: #ff0000
    }
}

@media handheld, screen and (max-width: 600px) {
    ng6-go-board {
        .ng6-go-board-svg {
            max-height: 100%;
        }

        .ng6-go-board-panel-actions {
            height: initial;
        }
    }
}
