ng6-go-overview {
    @extend %display-flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 40%;
    place-content: center stretch;
    align-items: stretch;

    .ng6-go-panel-overview {
        @extend %display-flex;
        overflow: hidden;
        flex-direction: column;
        height: 100%;

        .ng6-go-panel-overview-title {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 0.25rem;
            text-align: center;
        }

        .ng6-go-panel-overview-subtitle {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1rem;
            color: grey;
            text-align: center;
        }

        .ng6-go-panel-overview-content {

            .mat-list-players-title {
                font-weight: 500;
                font-size: 12px;
            }

            mat-list.mat-list-players {
                padding-top: 0;

                .mat-list-item {
                    height: 2rem;

                    .mat-list-item-content {
                        @extend %display-flex;
                        flex-direction: row;
                        align-items: center;
                        padding-left: 0 !important;

                        .mat-list-players-item-icon {
                            width: 10%;
                        }

                        .mat-list-players-item-name {
                            width: 60%;
                            font-size: 14px;
                        }

                        .mat-list-players-item-status {
                            color: darkgreen;
                            font-style: italic;
                            font-weight: 500;
                            font-size: 12px;
                            width: 30%;
                            text-align: right;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }
}
