<svg xmlns="http://www.w3.org/2000/svg/"
     [attr.viewBox]="'0 0 '+(game.dimension*500+1250)+' '+(game.dimension*500+1250)" class="ng6-go-board-svg">

    <!-- coordinates -->
    <svg xmlns="http://www.w3.org/2000/svg/" x="625" y="0">
        <text class="text-coordinate" *ngFor="let row of game.grid; let k = index" [attr.x]="500*k+250" y="250"
              text-anchor="middle" alignment-baseline="central">
            {{num2letter(k+1)}}
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg/" x="0" y="625">
        <text class="text-coordinate" *ngFor="let row of game.grid; let k = index" x="250" [attr.y]="500*k+250"
              text-anchor="middle" alignment-baseline="central">
            {{game.dimension-k}}
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg/" x="625" [attr.y]="game.dimension*500+750">
        <text class="text-coordinate" *ngFor="let row of game.grid; let k = index" [attr.x]="500*k+250" y="250"
              text-anchor="middle" alignment-baseline="central">
            {{num2letter(k+1)}}
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg/" [attr.x]="game.dimension*500+750" y="625">
        <text class="text-coordinate" *ngFor="let row of game.grid; let k = index" x="250" [attr.y]="500*k+250"
              text-anchor="middle" alignment-baseline="central">
            {{game.dimension-k}}
        </text>
    </svg>

    <!-- background color -->
    <rect x="500" y="500" [attr.width]="game.dimension*500+250" [attr.height]="game.dimension*500+250" fill="#F2B06D"/>

    <!-- game.lines, game.stars and stones -->
    <svg xmlns="http://www.w3.org/2000/svg/" x="625" y="625">
        <path *ngFor="let line of game.lines" stroke="#000" stroke-width="20" [attr.d]="'M240,'+line.a+'H'+line.b"/>
        <path *ngFor="let line of game.lines" stroke="#000" stroke-width="20" [attr.d]="'M'+line.a+',240V'+line.b"/>
        <circle *ngFor="let star of game.stars" [attr.cx]="star.x" [attr.cy]="star.y" r="50"/>
        <svg xmlns="http://www.w3.org/2000/svg" *ngFor="let row of game.grid; let i = index" [attr.x]="i*500">
            <svg xmlns="http://www.w3.org/2000/svg" *ngFor="let current of row; let j = index" width="500"
                 height="500" [attr.y]="j*500">
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="1===current">
                    <circle class="black" cx="250" cy="250" r="245" fill="url(#black)"/>
                    <!--<text class="text-sequence-black" x="250" y="250"-->
                          <!--text-anchor="middle" alignment-baseline="central">-->
                        <!--{{game.sequence[i][j]}}-->
                    <!--</text>-->
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="-1===current">
                    <circle class="white" cx="250" cy="250" r="245" fill="url(#white)"/>
                    <!--<text class="text-sequence-white" x="250" y="250"-->
                          <!--text-anchor="middle" alignment-baseline="central">-->
                        <!--{{game.sequence[i][j]}}-->
                    <!--</text>-->
                </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" *ngIf="0===current">
                    <circle *ngIf="game.turn === 1 && game.black === username" class="empty-black" cx="250" cy="250" r="245" fill-opacity="0"
                            (click)="onClick(i, j)"/>
                    <circle *ngIf="game.turn === -1 && game.white === username" class="empty-white" cx="250" cy="250" r="245" fill-opacity="0"
                            (click)="onClick(i, j)"/>
                </svg>
            </svg>
        </svg>
    </svg>

    <!-- others -->
    <defs>
        <radialGradient id="black" cx=".3" cy=".3" r=".8">
            <stop offset="0" stop-color="#777"/>
            <stop offset=".3" stop-color="#222"/>
            <stop offset="1" stop-color="#000"/>
        </radialGradient>
    </defs>
    <defs>
        <radialGradient id="white" cx=".47" cy=".49" r=".48">
            <stop offset=".7" stop-color="#FFF"/>
            <stop offset=".9" stop-color="#DDD"/>
            <stop offset="1" stop-color="#777"/>
        </radialGradient>
    </defs>
</svg>

<button *ngIf="game.players.length < 2" mdc-fab extended disabled>
    <mdc-fab-label>En attente d'un adversaire</mdc-fab-label>
</button>

<button *ngIf="game.players.length === 2 && !amIReady()" mdc-fab extended (click)="playerReady()">
    <mdc-fab-label>Prêt</mdc-fab-label>
</button>

<button *ngIf="game.players.length === 2 && amIReady() && !isOpponentReady()" mdc-fab extended disabled>
    <mdc-fab-label>Votre adversaire n'est pas prêt</mdc-fab-label>
</button>
