ng6-go-toolbar {
    .mat-toolbar.mat-primary {
        position: sticky;
        top: 0;

        span > a{
            text-decoration: inherit;
            color: inherit;
        }

        .ng6-go-username.mdc-text-field--fullwidth {
            width: inherit !important;
        }

        .ng6-go-username.mdc-text-field {
            padding: 0 !important;
            border-radius: 30px;
            border: 0;

            .mdc-text-field__input {
                border: 0 !important;
                padding: 0 1rem;
                text-align: end !important;
            }

            input,
            input::placeholder {
                color: white;
            }

            .mdc-line-ripple {
                display: none !important;
            }
        }

        .ng6-go-username.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
            color: white !important;
        }

        .ng6-go-username.mdc-text-field--disabled,
        .ng6-go-username.mdc-text-field--fullwidth:not(.mdc-text-field--textarea)::before,
        .ng6-go-username.mdc-text-field--fullwidth:not(.mdc-text-field--textarea)::after,
        .ng6-go-username.mdc-text-field--fullwidth:not(.mdc-text-field--textarea):not(.mdc-text-field--disabled) {
            background-color: map_get($ng6-go-primary-color, 500) !important;
        }
    }
}
